<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SWControladorPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SWServidor/SWControlador"
                binding="basicHttpBinding" bindingConfiguration="SWControladorPortBinding"
                contract="Sw_Pro.SWControlador" name="SWControladorPort" />
        </client>
    </system.serviceModel>
</configuration>